body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #0E1318;
}

.header {
	position: relative;
	display: flex;
	font-family: 'Arial', sans-serif;
	font-size: 48px;
	color: #f16448;
}

.cursor {
	display: inline-block;
	width: 6px;
	height: 48px;
	background-color: #f16448;
	margin-left: 2px;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.typing-text {
	display: inline-block;
	opacity: 0;
	animation: appear 1.2s forwards;
}

@keyframes appear {
	to {
		opacity: 1;
	}
}
