@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #0e1318;
}

.social-container {
	position: relative;

	display: flex;
	gap: 15px;
	padding: 0;
	margin: 0;
}

.item {
	width: 40px;
	height: 40px;
	display: flex;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	list-style: none;
}

.fab {
	position: relative;
	z-index: 2;

	width: 100%;
	height: 100%;
	font-size: 18px;
	transition: 0.3s;
	display: grid;
	place-items: center;
	border-radius: 50%;
	color: rgba(255, 255, 255, 0.878);
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 30%;
	transition: all 0.3s;
	filter: grayscale(1);
}

.insta-bg {
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}

.link-bg {
	background: rgb(1, 80, 123);
}

.whats-bg {
	background: #15a54a;
}

.pint-bg {
	background: #e60023;
}

.face-bg {
	background: #215eae;
}

.social-container .item:hover .bg {
	filter: grayscale(0);
}

.social-container .item:hover span:last-child {
	transform: translate(-15px, -35px);
	width: 100px;
}

.social-container .item span:last-child {
	position: absolute;
	color: white;
	font-family: 'calibri';
	width: 0px;
	overflow: hidden;
	z-index: 0;
	top: 10%;
	transform: translateX(-15px);
	transition: 0.3s linear;
}
